.album {
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__upload-image{

        &--upload-button {
            width: 100px;
            background-color: $color-secondary-red;
            color: white;
            text-align: center;
            border-radius: $radius-items;
            margin-bottom: 20px;
            padding: 2px 0;
            cursor: pointer;
        
            &__disabled {
              width: 100px;
              background-color: $color-secondary-red;
              color: white;
              text-align: center;
              border-radius: $radius-items;
              margin-bottom: 20px;
              opacity: 50%;
            }
          }

        &--button{
        border-radius: $radius-items;
        color: $color-secondary-red;
        font-weight: bold;
        border: solid 2px $color-secondary-red;
        width: 150px;
        text-align: center;
        margin-bottom: 50px;
        cursor: pointer;
        }
    }

    &--delete{
        background-color: $color-secondary-red;
        color: white;
        width: 125px;
        text-align: center;
        border-radius: $radius-items;
        cursor: pointer;
        opacity: 75%;
        padding: 3px;

    }
    
    &__photos-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

        &__photo {
            margin: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            padding: 15px 15px 0px 15px;
            border: 1px solid rgba(0,0,8,.05);

            
            &--image{
                height: 325px;
                max-width: 500px;
                object-fit: cover;
            }

            &--trash{
                font-size: 1.5rem;
                color: $color-secondary-red;
                margin-right: 5px;
                align-self: end;
                opacity: 50%;
                z-index: 50;
                
            }
        }
    }
}