.albums {
  &__list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        
      &__blank {
        background-color: $color-secondary-red;
        text-align: center;
        line-height: 125px;
        text-align: center;
        &--icon {
          color: $color-white;
        }
      }

      &--image {
        border-radius: $radius-items;
        height: 125px;
        width: 125px;
      }

      &--name{
          text-align: center;
          max-width: fit-content;
          padding: 5px 1px;
          line-height: 15px;
          width: 100%;
      }
    }
  }
}
