.create-album {
  display: flex;
  flex-direction: column;
  &--name-input {
    width: 300px;
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: $radius-items;
    border-width: 1px;
    &:focus {
      outline: none;
    }
  }

  &__access {
    margin-bottom: 20px;
    &--checkbox{
      margin-right: 10px;
    }
    
}

  &--upload-button {
    width: 150px;
    background-color: $color-secondary-red;
    color: white;
    text-align: center;
    border-radius: $radius-items;
    margin-bottom: 20px;
    padding: 3px;
    cursor: pointer;

    &__disabled {
      width: 150px;
      background-color: $color-secondary-red;
      color: white;
      text-align: center;
      border-radius: $radius-items;
      margin-bottom: 20px;
      opacity: 50%;
    }
  }
}


