.eventpage {
    &-center{

        flex: 2.7;
        margin: 0 20px;
        display:flex;
        min-width: 600px;
        flex-direction: column;
        
        &-back{
            display: flex;
            text-decoration: none;
            border-bottom: 1.5px solid #EFF3F4;

            padding-bottom: 10px;

            &__icon{
                font-size: 2.5rem;
            }
            &__text{
                font-size: 2rem;
                padding-left: 5px;
            }
        }
        &__image{
            width: 100%;
            border-radius: 25px;
            margin-top: 20px;
            margin-bottom:10px;
        }
    }
    &-sidebar{
        flex: 4;
        position: sticky;
        top: 0;
        height: 100vh;
        border-left: 1.5px solid #EFF3F4;
        display: flex;
        flex-direction: column;
    }
   
}