.event-page {
  &__center {
    display: flex;
    flex-direction: column;

    &__back {
      display: flex;
      padding-bottom: 10px;

      &--icon {
        font-size: 3.2rem;
      }

      &--text {
        padding-left: 5px;
        text-decoration: none;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      width:100%;

      &--title {
        margin-bottom: 10px;
      }

      &--caption {
        margin-bottom: 10px;
      }

      &--image {
        width: 100%;
        border-radius: $radius-items;
        margin-bottom: 10px;
      }

      &__comment-form {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;

        &__input {
          border: none;
          width: 80%;

          &:focus {
            outline: none;
          }
        }

        &__button {
          background-color: $color-secondary-sea;
          color: $color-white;
          margin-left: 20px;
          padding: 10px 15px;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 2px;
          border-radius: $radius-items;
          cursor: pointer;
          border: none;
          opacity: 85%;
        }
      }

      &__comments {
        &__box {
          margin-top: 5px;
          display: flex;
          flex-direction: column;
          &--name {
              padding-right: 8px;
          }
        }
      }
    }
  }

  &__sidebar {
      display: flex;
      flex-direction: column;

      &__body {
          margin-top: 10px;

          &__attendees {
            padding-top: 15px;
            }
      }

  }
}
