*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;  //1rem = 10px;
    color:#0F1419;
}

.no-dec{
    text-decoration: none;
    color: inherit;
  }

  .width-100{
    width: 100%;
  }

  .textarea-styles {
    resize: none;

  }