body {
    font-family: 'Quattrocento', serif;
    font-weight: 400;
    line-height: 1.7;
  }
  

.heading-logo {
    font-size: 2rem;
    font-family: 'Assistant', sans-serif;
    font-weight: 800;

    &__first{
        color: $color-secondary-sea;
    }

    &__second{
        color: $color-secondary-red;
    }
}

.heading-1 {
    font-size: 3rem;
    color: $color-black;
  }
  
  .heading-2 {
    font-size: 2rem;
    color: $color-black;
  }
  
  .heading-3 {
    font-size: 1.5rem;
    color: $color-black;
    letter-spacing: 0.5px;
  }
  
  .heading-4 {
    font-size: 1.4rem;
    color: $color-black;
  }
  
  .heading-5 {
    font-size: 1.2rem;
    color: $color-black;
  }