.eventpage {
  &-center {
    flex: 2.7;
    margin: 0 20px;
    display: flex;
    min-width: 600px;
    flex-direction: column;

    &-back {
      display: flex;
      text-decoration: none;
      border-bottom: 1.5px solid #eff3f4;
      text-decoration: none;

      padding-bottom: 10px;

      &__icon {
        font-size: 2.5rem;
      }
      &__text {
        padding-left: 5px;
        text-decoration: none;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      padding-top: 20px;

      &__title {
        margin-bottom: 10px;
        font-size: 2.5rem;
        font-weight: bold;
      }

      &__image {
        width: 100%;
        border-radius: 25px;
        margin-bottom: 10px;
      }

      &__caption {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      &-comment {
        margin-bottom: 20px;
        &-form{
          display: flex;
          justify-content: space-between;
          padding: none;

          &__input {
            font-size: 15px;
            border: none;
            width:80%;
  
     
            &:focus {
              outline: none;
            }
          }
          &__button{
            background-color: $color-secondary-sea;
            color: $color-white;
            margin-left: 20px;
            padding: 10px 15px;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 2px;
            border-radius: $radius-items;
            cursor: pointer;
            border: none;
            opacity: 90%;

          }
        }
      }
      &-comments {
        margin-top: 5px;

        &-box{
          margin-top: 5px;
          display: flex;
          flex-direction: column;
          &__name{
            padding-right: 8px;
          }
        }
      }

    }
  }
  &-sidebar {
    flex: 4;
    position: sticky;
    top: 0;
    height: 100vh;
    border-left: 1.5px solid #eff3f4;
    display: flex;
    flex-direction: column;
    &-attend{
      display: flex;
      justify-content: flex-start;
      align-items: center;

      
      &__button{
          background-color: $color-secondary-red;
          color: $color-white;
          margin-left: 20px;
          margin-top: 35px;
          padding: 8px 15px;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 2px;
          border-radius: 50px;
          cursor: pointer;
          

      }
    }

    &-body{
        margin-top: 10px;
        margin-left: 20px;
    }
  }
}
