$color-white: #fff;
$color-black: #262626;
$color-red: #ed4956;
$color-grey: #EFF3F4;

$color-primary: #2d3033;
$color-secondary-fog: #d4dde1;
$color-secondary-red: #aa4b41;
$color-secondary-sea: #335252;

$outside-space: 150px;
$border-outline: 1.5px solid #eff3f4;

$radius-items: 10px;