.attend-button {
    background-color: $color-secondary-red;
    color: $color-white;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: $radius-items;
    cursor: pointer;
    max-width: 150px;
    text-align: center;
}