.drop-zone {
  &__upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 200px;
    border: 2px dashed $color-secondary-sea;

    &--input {
      display: none;
    }
  }

  &__uploaded-images {
    display: flex;
    flex-direction: column;

    &__tag {
      margin: 5px 3px 0px 0px;
      width:fit-content;
      padding: 3px 5px;
      border: 1px solid $color-grey;
      border-radius: $radius-items;

      &--file-error-message {
        color: red;
      }

      &--delete{
          margin-left: 5px;
          background-color: $color-secondary-red;
          color: white;
          padding: 2px 5px;
          border-radius: 50%;
      }
    }
  }
}
