.event {
    display: flex;
    padding-bottom: 30px;
    margin-top: 10px;


    &__icon {
        margin-right: 20px;
        margin-top: 5px;

        &--initials {
            font-size: 1.7rem;
            font-family: 'Assistant', sans-serif;
            font-weight: 700;
            color: $color-secondary-red;
            background-color: $color-secondary-fog;
            padding: 5px 12px;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;

        }
    }

    &__dialog {
        display: flex;
        flex-direction: column;
        min-width:500px;
        width:100%;
    
        
        &--date {

        }

        &__heading {
            display: flex;
            justify-content: space-between;
        }

        &__info {
            
        }

        &--image{
            width: 100%;
            border-radius: $radius-items;
            margin-top: 20px;
            margin-bottom:10px;
            max-height: 400px;
            object-fit:cover;

        }

        &__attendees{
            display: flex;
            justify-content: space-between;
            align-items: center;

            

        }
        

    }
}