.feed {
    flex: 2.7;
    &-wrapper {
        display: flex;
        flex-direction: column;
        min-width: 600px;
    }
    &-search-div{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 20px;
        
       
  
        &__input{
            background-color: $color-grey;
            width: 60%;
            padding: 10px 25px;
            border-radius: 25px;
            font-size: 1.5rem;
            border:none;
            
            &:focus{
                outline: none;
            }
        }
    }

    &-sort-div{
        display: flex;
        justify-content: space-evenly;
        margin: 10px;
        padding-bottom: 10px;
        border-bottom: 1.5px solid #EFF3F4;

        &__items{
            text-align: center;
            cursor: pointer;
            padding: 5px 25px;
            border-radius: 20px;
            
            &:hover{
                background-color: $color-secondary-fog;
                font-weight: bold;
            }
    
        }
    }

}