.event {
    display: flex;
    padding-bottom: 30px;

    &__icon {
        background-color: $color-secondary-fog;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        margin-right: 20px;
        padding: 8px 12px;
        text-align: center;
        line-height: 18px; 

        &--initials {
                    font-size: 1.5rem;
        font-family: 'Assistant', sans-serif;
        font-weight: 500;
        color: $color-secondary-red;
        }
    }

    &__dialog {
        display: flex;
        flex-direction: column;
        min-width:500px;
        width:100%;
    
        
        &--date {

        }

        &__heading {
            display: flex;
            justify-content: space-between;
        }

        &__info {
            
        }

        &--image{
            width: 100%;
            border-radius: $radius-items;
            margin-top: 20px;
            margin-bottom:10px;
        }

        &__attendees{
            display: flex;
            justify-content: space-between;
            align-items: center;

            

        }
        

    }
}