.feed {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 5px;

  &-sort {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;


    &--options {
      cursor: pointer;
      
      border-radius: $radius-items;
      padding: 5px 25px;

      &:hover {
        background-color: $color-secondary-fog;
        font-weight: bold;
      }
    }
  }

  &-event__wrapper {
     
  }
}
