.settings-logout {
  display: flex;
  align-items: center;

  &--settings {
    margin-right: 10px;
    font-size: 2rem;
    cursor: pointer;
  }

  &__icon {

    cursor: pointer;

    &--initials {
        font-size: 1.5rem;
        font-family: 'Assistant', sans-serif;

        color: $color-secondary-red;
        background-color: $color-secondary-fog;
        padding: 6px 11.5px;
        border-radius: 50%;
        
    }
  }
}
