.settings-logout {
  display: flex;
  align-items: center;

  &--settings {
    margin-right: 10px;
    font-size: 2rem;
    cursor: pointer;
  }

  &__icon {
    background-color: $color-secondary-fog;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    padding: 6px;
    text-align: center;
    line-height: 12px;
    cursor: pointer;

    &--initials {
        font-size: 1.5rem;
        font-family: 'Assistant', sans-serif;
        font-weight: 500;
        color: $color-secondary-red;
    }
  }
}
