.sidebar {
    flex: 4;
    position: sticky;
    top: 0;
    height: 100vh;
    border-left: 1.5px solid #EFF3F4;

    &-wrapper{
        display: flex;
        flex-direction: column;
    }
    &-top{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
        &__settings{
            margin-right: 10px;
            font-size: 2rem;
            color: $color-secondary-sea;
            cursor: pointer;
        }
        &__icon{
            background-color: $color-secondary-fog;
            border-radius: 50%;
            height: 15px;
            width: 15px;
            padding: 6px;
            margin-right: 100px;
            text-align: center;
            line-height: 12px;
            cursor: pointer;
            
            &__initial{
                font-size: 1.5rem;
                font-family: 'Assistant', sans-serif;
                font-weight: 500;
                color: $color-secondary-red;
            }
        }
    }

    &-announcements {
        margin-top: 25px;
        margin-left: 30px;
        margin-right: 120px;
        display: flex;
        flex-direction: column;

        &__heading{
            margin-bottom: 15px;
            font-weight: bold;
        }

        &__list{
            display: flex;
            flex-direction: column;

            &__item{
                margin-bottom: 15px;
                &__date{
                    font-size: 1.8rem;
                    font-weight: 700;
                }
                &__text{
                    font-size: 1.4rem;
                }
            }
        }

        
    }

}
