.announcements {
    display: flex;
    flex-direction: column;


    &--heading {
        margin-bottom: 5px;
    }

    &__list {

        display: flex;
        flex-direction: column;

        &__item {
            margin-bottom: 15px;

            &--delete{
                background-color: $color-secondary-red;
                color: white;
                width: 50px;
                text-align: center;
                border-radius: $radius-items;
                cursor: pointer;
            }
        }

    }
}