.header-container {
    display:flex;
    background-color: $color-primary;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;    
    align-items: center;
    justify-content: space-between;
}

.header-left{
    align-items: center;
    color: $color-white;
    padding-left: 20px;
}

.header-right{
    align-items: center;
    padding-right: 20px;
}

.user-icon {
    background-color: $color-secondary-fog;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    padding: 6px;
    text-align: center;
    line-height: 12px;
    
    &__initials {
    font-size: 2rem;
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    color: $color-secondary-red;
    }
}